# Entorno virtual
venv/

# Archivos Python compilados
__pycache__/
*.pyc

# Archivos temporales del sistema
*.log
.DS_Store

# Archivos de configuración local
.env

# Salidas generadas por el script
outputs/

# Puedes subir downloads si quieres
# downloads/  ← lo quitamos del ignore para que SÍ se suba
